
    <ion-item-sliding>


        <button ion-item  (click)="editList(lista)" [ngStyle]="{'border-bottom':'1px solid #51238d'}">
                    {{ lista._list_title }} 
              
                    <!--if I don´t do these ngIf, throws error-->
                   <ion-note item-end *ngIf="lista._items && lista._items.length>0">{{lista._items.length}} items</ion-note>
        </button>

        <!--<button ion-item *ngIf="!lista._isCompleted"  (click)="editList(lista)" [ngStyle]="{'border-bottom':'1px solid #51238d'}">
            {{ lista._list_title }} -->
      
            <!--if I don´t do these ngIf, throws error-->
           <!--<ion-note item-end *ngIf="lista._items && lista._items.length>0">{{lista._items.length}} items</ion-note>
        </button>-->

        

        <ion-item-options side="right">

          <button ion-button (click)="_tareas.deleteList(lista)" color="danger">
              <ion-icon name="remove-circle"></ion-icon>

                Remove
          </button>

        </ion-item-options>

    </ion-item-sliding>
