

<ion-header>
  <ion-navbar color="primary">
    <ion-title>Pending Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!--<show-lists [arrayListas]="_tareas.arrayListas"></show-lists>-->
  <ion-list *ngFor="let lista of _tareas.arrayListas">
    <button ion-item *ngIf="!lista._isCompleted"  (click)="editList(lista)" [ngStyle]="{'border-bottom':'1px solid #51238d'}">
      {{ lista._list_title }} 

     <ion-note item-end>{{lista._items.length}} items</ion-note>
    </button>  
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab (click)="agregarLista()"><ion-icon name="add"></ion-icon></button>
    
  </ion-fab>
  
</ion-content>