
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Finished Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

    <ion-list *ngFor="let lista of _tareas.arrayListas">

        <ion-item-sliding>

            <button ion-item *ngIf="lista._isCompleted"  (click)="editList(lista)" [ngStyle]="{'border-bottom':'1px solid #51238d'}">
                {{ lista._list_title }}
            </button> 
    
            
    
            <ion-item-options side="right">
    
              <button ion-button (click)="_tareas.deleteList(lista)" color="danger">
                  <ion-icon name="remove-circle"></ion-icon>
    
                    Remove
              </button>
    
            </ion-item-options>
    
        </ion-item-sliding>
        
    </ion-list>
  
</ion-content>
